/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

/* here are font style stuffs*/

h1{
    color:blue;
    font-size:2 em;
}

p {
    line-height: 1.5;
}

/* in cases where the width is less than 600px */
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* アイテムを縦に並べる */
    }
}

